VITE_API_URL=https://11eleven.duckdns.org/api
VITE_API_TIMEOUT=10000
VITE_AUTH_TOKEN_KEY=access
VITE_REFRESH_TOKEN_KEY=refresh
VITE_APP_NAME=Eleven
VITE_APP_VERSION=1.0.0
VITE_STRIPE_PUBLIC_KEY=pk_live_replace_me
VITE_MEDIA_URL=https://11eleven.duckdns.org/media/
VITE_FRONTEND_URL=https://ecommerce-eleven.vercel.app
VITE_GOOGLE_CLIENT_ID=your-google-client-id
